.container {
  position: relative;
  overflow: hidden;
  background: url('../../public/aboutPennington/bg.jpg') no-repeat center center;
  background-size: cover;
  padding: 50px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  color: white;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
}

.content {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
  animation: titleAnimation 2s infinite alternate;
}

@keyframes titleAnimation {
  0% {
    color: #fff;
  }
  100% {
    color: #f39c12;
  }
}

.description {
  font-size: 1.2em;
  margin-bottom: 20px;
  animation: descriptionAnimation 5s infinite alternate;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.colorChange {
  animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: #f39c12;
  }
  100% {
    color: #e74c3c;
  }
}

.featureImageContainer {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 5px solid #fff;
  animation: featureImageContainerAnimation 3s infinite alternate;
  border-radius: 10px;
  width: 200px; /* Adjust width as needed */
}

@keyframes featureImageContainerAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.featureImage {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.container:hover {
  transform: scale(1.05);
}
