.footer {
  position: relative;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footerOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.footerContainer {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.footerLinks,
.footerSocialLinks a,
.footerContact a,
.footerContact p {
  color: white;
  transition: color 0.3s ease;
}

.footerLinks a:hover,
.footerContact a:hover,
.footerContact p:hover {
  color: #e88e10; /* Default hover color, can be adjusted */
}

.footerSocialLinks .facebook:hover {
  color: rgb(66, 103, 178);
}

.footerSocialLinks .twitter:hover {
  color: #1da1f2;
}

.footerSocialLinks .instagram:hover {
  color: rgb(252, 175, 69);
}

.footerSocialLinks .linkedin:hover {
  color: #0762c8;
}

@keyframes wipeUp {
  0% {
    bottom: -50px;
    opacity: 0;
  }
  50% {
    bottom: 50px;
    opacity: 1;
  }
  100% {
    bottom: 50px;
    opacity: 0;
  }
}

.copiedNotification {
  position: fixed;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  animation: wipeUp 2s ease;
}
