.navLink {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  transition:
    color 0.3s,
    text-shadow 0.3s;
  padding: 8px 12px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Increased glow effect */
  font-weight: bold; /* Make the text bold */
}

.navLink::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border-radius: 12px;
  transition: background-color 0.3s;
  z-index: -1;
}

.navLink:hover::before {
  background-color: white;
}

.navLink:hover {
  color: black;
  text-shadow: none;
}

.selected {
  position: relative;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Increased glow effect */
  font-weight: bold; /* Make the text bold */
}

.selected::after {
  content: '';
  position: absolute;
  bottom: -0px; /* Adjust this value */
  left: 25%;
  right: 25%;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
