.container {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the container takes the full viewport height */
}

.board {
  background-image: url('/profileCards/bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px; /* Adjust padding as needed */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  border-radius: 15px; /* Optional: to give the board rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: to add a shadow around the board */
  max-width: 90%; /* Ensure the board does not exceed a certain width */
  max-height: 90%; /* Ensure the board does not exceed a certain height */
  overflow: hidden; /* Hide any overflow */
}

.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center center; /* Ensures the card scales from its center */
}

.image {
  width: 100%;
  height: auto; /* Ensure the height adjusts based on the aspect ratio */
  object-fit: contain; /* Ensure the image fits within the container without being cropped */
}

.title {
  font-size: 1.5em;
  margin: 10px 0;
}

.body {
  font-size: 1em;
  color: #333;
  padding: 0 20px 20px 20px; /* Add padding to the body text */
}

.card:hover {
  transform: scale(1.1);
}

.board:hover .card:not(:hover) {
  transform: scale(0.9);
  opacity: 0.6;
}
