.container {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.board {
  background-image: url('../../public/profileCards/bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform-origin: center center;
  display: flex;
  flex-direction: column; /* Ensure the content is stacked vertically */
  justify-content: space-between; /* Distribute space evenly */
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.title {
  font-size: 1.5em;
  margin: 10px 0;
}

.body {
  font-size: 1em;
  color: #333;
  padding: 0 20px 20px 20px;
  flex-grow: 1; /* Allow the body text to grow and take available space */
}

.card:hover {
  transform: scale(1.1);
}

.board:hover .card:not(:hover) {
  transform: scale(0.9);
  opacity: 0.6;
}
