.section {
  position: relative;
  width: 100%;
  height: auto;
  color: white;
}

.bgWrapper {
  position: absolute;
  inset: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  z-index: 10;
  padding: 2rem;
}

.title {
  font-size: 3.1rem; /* Increased font size */
  font-weight: bold;
  margin: 150px 0 2rem 0;
  transition: text-shadow 0.5s ease-out;
}

.row {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.text {
  flex: 1;
  padding: 1rem;
  font-size: 1.5rem; /* Increased font size */
  line-height: 1.8;
}

.imageWrapper {
  flex: 0 0 340px;
  height: 340px;
  position: relative;
  overflow: hidden;
}

.map {
  border: none;
}

.image {
  border-radius: 0.5rem;
  transform: translateX(-100%);
  transition: transform 1s ease-out;
}

.highlight {
  color: #ff6347; /* Different color */
  font-weight: bold;
}

.secondRow {
  margin-top: -2rem; /* Move second text body up */
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
}

.glowEffect {
  animation: glow 2s ease-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.slideIn {
  animation:
    slideIn 1s ease-out forwards,
    bounce 2s infinite ease-in-out 1s;
}

.visible {
  transform: translateX(0);
}

.aboutPennington {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust height as needed */
  background: url('../../public/aboutPennington/bg.jpg') no-repeat center center;
  background-size: cover;
}

.fadeOverlay {
  position: absolute;
  top: -200px; /* Adjust to control overlap amount */
  left: 0;
  width: 100%;
  height: 200px; /* Adjust to control fade area */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  pointer-events: none; /* Prevent interaction */
}
